@media screen and (max-width:430px) {
    html{
        font-size: 9px;
    }

    body > .global-container-header1{
        margin: 0 0;
        height: 0;
    }
    .logo-container b{
        font-size: 1.7rem;
    }
    .logo-container span{
        font-size: 1.7rem;
    }
    .global-container-header1,.global3items,.global-social-media{
        display: none;
    }
    header{
        height: 70px;
    }
    .logo-container{
        width: 20%;
    }
    .menu_list{
        display: none;
    }
    .search-container{
        width: 69%;
    }
    .search-container span{
        padding: 0;
        height: 32px;
        border-radius: 5px;
        width: 67%;

    }
    #menu{
        display: flex;
        flex-direction: column;
        font-size: 3.5rem;
        margin-right: -40px;
    }
    .search-container span:hover{
        width: 95%;
    }
    .search-container span:hover + .panier-shop{
        display: none;
    }
    .background{
        position: relative;
        background-position: center right;
        background-size: auto;
        height: 200px;
        margin-top: 0;
    }
    .title{
        padding: 20px 0;
    }
    #text-slide{
        position: absolute;
        display: flex;
        top: 40%;
        justify-content: center;
        font-size: 3.2rem;
        width: 100%;
        color: rgb(255, 255, 255);
        text-shadow: -3px 2px 5px rgba(0, 0, 0, 0.76);
    }
    .container-product{
        margin: 0;
        padding: 0;
        
        
    }
    .container-product-global{
        margin-top: 40px;
        width: 170px;
        height: 250px;
        padding: 0;
        border-radius: 2px;
    }
    .container-product-global:hover{
        box-shadow: none;
    }
    .container-product-global > .product-image{
        width: 180px;
        height: 180px;
    }
    .button-commande{
        top: 140px;
        left: 25px;
    }
    .button-commande button{
        padding: 0;
        width: 130px;
        height: 25px;

    }
    .discount-onsale{
        width: 38px;
        height: 38px;
    }
    .flex{
        display: none;
    }

    /**for mobile footer**/
    .mobile{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
    }
    .mobile nav{
        padding: 5%;
    }
    .mobile nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 1.7rem;
        transition: 0.9s;
    }
    
    .mobile li{
        margin-bottom: 10px;
        
    }
    #line-box{
        display: none;
    }
    .mobile li:hover a{
        color: #eb7419;
        text-decoration: underline;
        
    }


    







}