@media screen and (max-width:430px) {
    html{
        font-size: 9px;
    }

    body > .global-container-header1{
        margin: 0 0;
        height: 0;
    }
    .logo-container b{
        font-size: 1.7rem;
    }
    .logo-container span{
        font-size: 1.7rem;
    }
    .global-container-header1,.global3items,.global-social-media{
        display: none;
    }

    .logo-container{
        width: 20%;
    }

    .menu_list{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-color: rgb(17,24,32);
        z-index: 999;
    }
    #selected-frist-child{
        margin-top: 40px;
    }
    .sub-ul{
        position: relative;
        left: 0;
        top: 0;
        border-top: none;
        background-color: #00bfb200;
        width: 100%;
        padding: 5px;
        transition: 0.5s ease-in;
    }
    .sub-ul li{
        padding: 5px 2px;
    }
    .sub-ul li:hover{
        background-color: #7e807f1e;
    }
    .menu_list li{
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 10px;
        width: 90%;   
    }
    .menu_list li a{
        color: white;
    }

    #search{
        display: block;
    }
    .search-content{
        display: none;
    }
    #menu-1{
        display: flex;
        flex-direction: column;
        font-size: 3.5rem;
        margin-right: -40px;
    }
    .panier-shop i{
        font-size: 3.2rem
    }

    .background{
        position: relative;
        background-position: center right;
        background-size: auto;
        height: 200px;
        margin-top: 0;
    }
    .title{
        padding: 20px 0;
    }
    #text-slide{
        position: absolute;
        display: flex;
        top: 40%;
        justify-content: center;
        font-weight: 600;
        font-size: 3.2rem;
        width: 100%;
        color: rgb(255, 255, 255);
        text-shadow: -3px 2px 5px rgba(0, 0, 0, 0.76);
    }
    .container-product{
        margin: 0;
        padding: 0;
    }
    .container-product-global{
        margin-top: 40px;
        width: 170px;
        height: 250px;
        padding: 0;
        border-radius: 2px;
    }
    .container-product-global:hover{
        box-shadow: none;
    }
    .container-product-global > .product-image{
        width: 180px;
        height: 180px;
    }
    .button-commande{
        top: 140px;
        left: 25px;
    }
    .button-commande button{
        padding: 0;
        width: 130px;
        height: 25px;

    }
    .discount-onsale{
        width: 38px;
        height: 38px;
    }
    .flex{
        display: none;
    }

    /**for mobile footer**/
    .mobile{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
    }
    .mobile nav{
        padding: 5%;
    }
    .mobile nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 1.7rem;
        transition: 0.9s;
    }
    
    .mobile li{
        margin-bottom: 10px;
        
    }
    #line-box{
        display: none;
    }
    .mobile li:hover a{
        color: #eb7419;
        text-decoration: underline;
        
    }
    #burger{
        position: absolute;
        right: 21px;
        top: 22px;
        width: 22px;
        height: 22px;
    }

    .menu_list{
        display: none; /**wait for fix the problem **/
    }
    .nav-container > nav > input{
        display: block;
        opacity: 0;
    }

    #burger:checked + .menu_list{
        display: block;
    }
/*** fix this pc portable icon and text space beetwen **/

    .active-sub-ul i{
        color: white;
    }


    /*** Contact Page ****/
    .global-info-contact-flex{
        flex-direction: column;
        margin: 0;
        padding: 0;

    }
    .flex1{
        width: 100%;
        padding: 10px;
    }
    .maps-contact{
        margin: 0;
    }
    .iframe-maps{
        padding: 0;
        height: 100%;
    }
    .iframe-maps iframe{
        width: 90%;
        height: 250px;
    }

    










}