@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}
html{
    background-color: #023436;
    font-family: 'poppins',sans-serif;
    font-size: 10px;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #ffffff;
}
body > .global-container-header1{
    margin: 0 10%;
    display: flex;
    align-items: center;
    height: 40px;
}
.global3items{
    padding: 0 5px;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-evenly;
}
.global3items i{
    font-size: 2rem;
    color: #00bfb3;
}
.global-social-media i{
    cursor: pointer;
    font-size: 2rem;
    transition: 1s;
}
.global-social-media i:hover,.social-media-flex i:hover{
    transform: scale(1.4);
    transition: 0.9s;
}
#fb{
    color: rgb(24, 119, 242);
    border-radius: 25px;
}
#insta{
    color: #ee2a7b;
}

.adress-contact-info,.phone-contact-info,.mail-contact-info{
    display: flex;
    align-items: center;
}
.adress-contact-info i,.phone-contact-info i,.mail-contact-info i{
    margin-right: 10px;
}
.global-social-media{
    margin-right: 15px;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 62px;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.39);
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.logo-container span{
    font-size: 2rem;
    line-height: 40px;
    color: white;
    background-color: red;
}
.logo-container b{
    height: 100%;
    font-size: 2rem;
    line-height: 40px;
    color: rgb(255, 3, 3);
    background-color: rgb(240,240,240);
}
.logo-container a{
    text-decoration: none;
}


.menu_list{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    gap: 5px;
}
.menu_list li{
    padding: 5px 8px;
    border-radius: 50px;
}
.menu_list a{
    text-decoration: none;
    color: #023436;
    font-weight: 500;
}
.menu_list li:hover{
    background-color: #00bfb225;
    transition: 0.9s;

}
/* dropdown menu */
.sub-ul{
    display: none;
    position: absolute;
    top: 92px;
    background-color: #fafafaf3;
    border-top: 4px solid #16425B;
    list-style: none;
    padding: 5px;
    width: 120px;
    border-radius: 0px 0px 2px 2px;
}
.sub-ul li{
    cursor: pointer;
    padding: 6px 4px;
    align-items: center;
    border-radius: 0px; 
}
.sub-ul li:hover{
    font-weight: 600;
    background-color: #7e807f77;
}
.sub-ul li a{
    text-decoration: none;
    color: #023436;
    font-weight: 500;
    font-size: 1.5rem;
}
.active-sub-ul:hover .sub-ul{
    display: block;
}

.search-container{
    display: flex;
    margin-right: 25px;
}
.search-content{
    display: flex;
}
.search-content span,button,input{
    border: none;
    outline: none;
}
.search-content span{
    display: flex;
    text-align: center;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #00000034;
    transition: 1s;
    overflow: hidden;
}
#search{
    display: none;
}

.search-content span:hover{
    border: 1px solid #eb74197c;
}
.search-content input{
    padding: 0 2px;
    margin-left: 3px;
    height: 100%;
    width: 250px;
    font-weight: 500;
}
.search-content button{
    background-color: #eb7419;
    width: 45px;
    height: 100%;
    
}
.search-content i{
    font-size: 1.7rem;
    color: white;
}
.search-content{
    margin-right: 30px
}


.panier-shop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 25px;
}
#menu-1{   /** for mobile **/
    display: none;
}



.panier-shop i{
    cursor: pointer;
    font-size: 2.5rem;
    color: #023436;
}
.panier-shop i:hover{
    color: #EE8434;
}
/*background image */
.background{
    margin-top:10px;
    background-image: url("https://i.postimg.cc/28gRmtDR/BACKGROUND.jpg");
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 400px;
}
#text-slide{
    display: none;

}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.title h1{
    font-size: 2.2rem;
    font-weight: 400;
}
.container-product{
    background-color: #ffffff;
    margin: 0 5%;
    padding: 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 10px;
}
.container-product-global{
    position: relative;
    cursor: pointer;
    padding: 5px;
    width: 270px;
    height: 370px;
    overflow: hidden;
    border-radius: 6px;
}
.container-product-global:hover{
    box-shadow: -1px 2px 16px 1px rgba(0, 0, 0, 0.904);
    -webkit-box-shadow: -1px 2px 16px 1px rgba(0, 0, 0, 0.205);
    -moz-box-shadow: -1px 2px 16px 1px rgba(0, 0, 0, 0.164);
}
.container-product-global > .product-image{
    width: 270px;
    height: 250px;
}
.container-product-global > .product-image img{
    width: 100%;
    height: 100%;
}
.container-product-global > .info-product{
    
    text-align: center;
}
.container-product-global > .info-product >.inline2elemnt{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
    gap: 5px;
}
#price-color{
    color: #EE8434;
}
#old-price{
    font-size: 1.2rem;
}
.button-commande{
    display: none;
    position: absolute;
    top: 210px;
    left: 30px;
}
.button-commande button,.container-qtt-button button{
    background-color: #EE8434;
    border: none;
    padding: 10px;
    width: 230px;
    border-radius: 25px;
    font-weight: 500;
}
.button-commande a,.container-qtt-button a{
    text-decoration: none;
    height: 36px;
    color: white;
    font-family: 'poppins',sans-serif;
    font-weight: 500;
}
.button-commande button{
    color: white;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
}
.container-product-global:hover .button-commande{
    display: block; 
}
.button-commande button:hover{
    cursor: pointer;
    background-color: #e0792a;
}

.discount-onsale{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 100px;
    background-color: rgb(248,49,49);
    width: 48px;
    height: 48px;
}
.discount-onsale h5{
    font-size: 1.2rem;
    color: white;
}
footer{
    background-color: #111820;
    width: 100%;
    padding: 1% 0;
}
.flex{
    display: flex;
    justify-content: space-around;

}

.global-localisation{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contact-info h1{
    color: #FFFFFF;
    font-weight: 400;
}
.contact-info span{
    color: #cad8dece;
    font-size: 1.5rem;

}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid #eb7419;
    padding: 1px;
    border-radius: 2px;
}
.icon i{
    font-size: 3rem;
    color: #b3560e;
}
.info h1{
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
}
.info h2{
    color:#eb7419 ;
    font-weight: 400;
    font-size: 1.5rem;
}
.email-newsletter-input{
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;

}
.email-newsletter-input span{
    display: flex;
    align-items: center;
    padding: 2px;
    width: 100%;
    border-radius: 30px;
    border-bottom: 1px solid #000000;
}
.email-newsletter-input span:hover{
    border-bottom: 1px solid #eb7419;
    border-radius: 30px;
}

.email-newsletter-input input{
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    font-family: 'poppins';
    border: none;
    outline: none;
    padding: 5px;
    width: 80%;
    background-color: transparent;
}

.email-newsletter-input button{
    cursor: pointer;
    width: 15%;
    height: 100%;
    border-radius: 10px;
    background-color: #ff7811;
    border: none;
    font-family: 'poppins',sans-serif;
    color: white;
    font-weight: 500;
}
.checkbox{
    width: 100%;
    display: flex;
    color: white;
    justify-content: flex-start;
    gap: 10px;
}

.email-newsletter-input .checkbox input{
    width: 14px;
}
.checkbox label{
    font-size: 1.5rem;
    font-weight: 500;
    color: #da5452c5;
}
.checkbox input:checked + label{
    color: #96f175c9;
}

.social-media-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    color: white;
}
.social-media-flex i{
    font-size: 3rem;
}
.condition{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-info .condition a{
    display:flex;
    flex-direction: column;
    text-decoration: none;
    color: #ff770f;
    font-size: 1.6rem;
}
.contact-info a:hover,.contact-info h2:hover{
    color: #c1d0df;
}
.contact-info:hover{
    cursor: pointer;
}

#line-box{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1px;
    
}
#line{
    height: 100%;
    width: 60%;
    background-color: white;
}

.dev-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #111820;
}
.dev-info h3{
    font-family: 'poppins';
    color: white;
    font-weight: 400;
    font-size: 1.7rem;
}


.email-newsletter-input button:hover{
    background-color: #df6b13;
}


/*** SELECTED CHANGE BACKGROUND **/
#selected1{
    background-color:#00bfb25e;
}
header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.032);
}
/*** CONTACT PAGE **/
.global-info-contact-flex{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}
.flex1{
    width: 50%;
    padding: 10px 25px;
}
.flex1 span{
    font-size: 2.5rem;
    font-weight: 500;
}
.flex1 p{
    letter-spacing: 1.5px;
    font-size: 1.7rem;
    
}
.flex1 h5{
    font-size: 1.7rem;
    font-weight: 500;
}
.flex1 h3{
    font-size: 1.5rem;
    font-weight: 400;
}
.maps-contact{
    margin: 0 10%;
    display: flex;
    justify-content: center;
}
.maps-contact h5{
    font-size: 3rem;
    font-weight: 500;
}
.iframe-maps{
    display: flex;
    width: 100%;
    justify-content: center;
    padding:  25px 0;
    height: 550px;
}
.iframe-maps iframe{
    width: 80%;
    height: 100%;
}

/** brands style hp dell lenovo .... **/ 
.container-option{
    margin: 0 10%;
}
.global2option{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}
.option select{
    height: 30px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-radius: 2px;
    font-family: 'poppins';
    padding: 1px 1px;
    font-size: 1.5rem;
}
.option option{
        font-size: 1.5rem;
}
.global2option span{
    font-size: 2rem;
    line-height: 15px;
}
.global2option{
    border-bottom: 1px solid rgba(0, 0, 0, 0.397);
}

/**** Checkout page ****/
.checkoutflex1 img{
    width: 100%;

}
.global-flex-checkout{
    margin: 0 10%;
    display: flex;
}
.checkoutflex1{

    width: 50%;
}
.container-other-photo{
    display: flex;
}
.container-other-photo{
    width: 100px;
    height: 90px;
    background-color: red;
}
.container-other-photo img{
    width: 100%;
    height: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.144);
}
.checkoutflex1 h5{
    margin-top: 25px;
    font-size: 3rem;
}
.checkoutflex1 span{
    padding: 40px 0;
    font-size: 2.4rem
}
.container-qtt-button{
    gap: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    width: 8%;
    font-size: 2.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 25px;
    border: none;
    outline-style: none;
}
.container-qtt-button input{
    border-radius: 8px;
    padding: 0 5px;
    width: 40px;
    height: 30px;
    font-size: 2.5rem;
    border: none;
    margin-left: 25px;
}

/*** for mobile footer**/
.mobile{
    display: none;
}
/*** burger tricks ***/ 
.nav-container > nav > input{
    display: none;
}

/*** fix this pc portable icon and text space beetwen **/
